* {
  padding: 0px;
  margin: 0px;
  color: #000;
}

.complete {
  text-decoration: line-through;
}

.header {
  background-color: gray;
  color: aliceblue;
  text-align: center;
  padding: 10px;
}
.todoHeader {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.searchInput {
  width: 750px;
  height: 38px;
  margin-top: 18px;
  border: solid 2px #6c63ff;
  border-radius: 5px;
}
.topBox {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 750;
  height: 135;
}

select {
  width: 85px;
  height: 38px;
  background-color: #6c63ff;
  border-radius: 5px;
  margin: 18px;
}

select:hover {
  background-color: #4b42ff;
}


.todoButtons {
  width: 38;
  height: 38;
  background-color: #6c63ff;
  border-radius: 5px;
  margin: 18px;
  padding: 8px;
}

.mainBox {
  width: 950px;
  display: flex;
  justify-content: center;
  /* position: absolute; */
  /* top: 47%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}

.tableBox {
  width: 520px;
  height: 545px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}

th, td {
  padding: 10px;
  margin: 0px;
  border-bottom: solid 0.5px #6c63ff;
  text-align: left;
}

/* style={{ borderBottom: '1px solid black' }} */
/* .tableBox {
  margin-top: 1px;
  width: 520px;
  height: 545px;
  /* background-color: rgb(171, 171, 169); */
  /* display: flex;
  justify-content: left;
} */ */

/* .tableContent {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   color: rgb(37, 35, 35);

} */

td {
  width: 100%;
  padding: 60px;
  margin: 0px;
  border-bottom: solid 0.5px #6c63ff;
}

.table-row {
  display: flex;
  justify-content: space-between;
}

.addButton {
  width: 38px;
  height: 38px;
  background-color: #6c63ff;
  border-radius: 50%;
  margin: 18px;
  position: absolute;
  bottom: 18px;
  right: 18px;  
  display: flex;
  justify-content: center; 
  align-items: center;  
  color: white;   
  font-size: 24px;
}

/* .deleteButton:hover {
  background-color: #f60c0c;
} */



/* .deleteButton{
  display: flex; */
/* justify-content:flex-end; */
/* align-items: right;
  background-color: #6C63FF;

  
} */
