.model {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.905);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
}

.model-content {
  background-color: #fbf9f9;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #020202;
  width: 500px; /* Could be more or less, depending on screen size */
  height: 289px;
  position: relative; /* To position close button */
  border-radius: 2%;
}

.addTaskInput {
  width: 440px;
  height: 38px;
  border: solid 2px #6c63ff;
  border-radius: 5px;
}

.cancel-button {
  width: 85px;
  height: 38px;
  background-color: #f4f4f7;
  border-radius: 5px;
  border: solid 2px #6c63ff;
  position: absolute;
  bottom: 18px;
  left: 18px;
  color: #6c63ff;
}

.addTaskButton {
  width: 85px;
  height: 38px;
  background-color: #6c63ff;
  border: 1px solid #6c63ff;
  color: #ffffff;
  border-radius: 5px;
  position: absolute;
  bottom: 18px;
  right: 18px;
}

.addTaskButton:hover {
  background-color: #4b42ff;
}

.cancel-button:hover {
  background-color: #4b42ff;
  color: #fbf9f9;
}
